/* Menghilangkan semua margin bawaan browser */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Mencegah scroll ke samping */
}

body {
  background-color: #f4f7f6; /* Warna latar belakang dashboard */
}